extends layout

block content
    .jumbotron
        h1 Tea Time
        p The easy way to time your steeping.
    .row.text-center
        .btn-group(role='group')
            button.btn.btn-default.StartTimer(type='button', data-time='30') 30 Seconds
            button.btn.btn-default.StartTimer(type='button', data-time='60') 1 Minute
            button.btn.btn-default.StartTimer(type='button', data-time='90') 1.5 Minutes
            button.btn.btn-default.StartTimer(type='button', data-time='120') 2 Minutes
            button.btn.btn-default.StartTimer(type='button', data-time='150') 2.5 Minutes
            button.btn.btn-default.StartTimer(type='button', data-time='180') 3 Minutes
            button.btn.btn-default.StartTimer(type='button', data-time='210') 3.5 Minutes
            button.btn.btn-default.StartTimer(type='button', data-time='240') 4 Minutes
            button.btn.btn-default.StartTimer(type='button', data-time='270') 4.5 Minutes
            button.btn.btn-default.StartTimer(type='button', data-time='300') 5 Minutes
            button.btn.btn-default.StartTimer(type='button', data-time='330') 5.5 Minutes

    hr
    // the list of active timers
    ul.list-group#BrewingTimers