doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Tea Time

    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') TeaTime
        .navbar-collapse.collapse 
    .container.body-content
      block content
      hr
      footer
        .text-center
            p 
                strong
                    a(href='https://github.com/Farami/TeaTime') TeaTime GitHub
            p 
                strong
                    a(href='https://github.com/Farami') Farami

    block scripts
        script(src='/javascripts/utils/jquery-1.11.1.min.js')

        script(src='/javascripts/Helper.js')
        script(src='/javascripts/Timer.js')
        script(src='/javascripts/BrewingTime.js')
        script(src='/javascripts/AudioElement.js')