extends index

block timers
    .panel.panel-default
        .panel-heading
            |Start Timer
        .panel-body
            ul.nav.nav-tabs(role="tablist")#Tabs
                li.active(role="presentation")
                    a(href="#MinuteTimers", aria-controls="MinuteTimers", role="tab", data-toggle="tab") Minutes
                li(role="presentation")
                    a(href="#TeaTimers", aria-controls="TeaTimers", role="tab", data-toggle="tab") Teas
                .input-group.col-md-3.col-md-offset-9
                    input.form-control(type='text', placeholder='Name')#TimerName
                    span.input-group-btn
                        button.btn.btn-default(type='button')#ClearTimerName
                            span.glyphicon.glyphicon-remove(aria-hidden='true')
                    
            div.tab-content
                div.tab-pane.active(role="tabpanel")#MinuteTimers
                    .row.col-md-12#BrewingTime
                        .btn-group(role='group')
                            button.btn.btn-default.btn-default.StartTimer(type='button', data-time='60') 1 Minute
                            button.btn.btn-default.btn-default.StartTimer(type='button', data-time='120') 2 Minutes
                            button.btn.btn-default.btn-default.StartTimer(type='button', data-time='180') 3 Minutes
                            button.btn.btn-default.btn-default.StartTimer(type='button', data-time='240') 4 Minutes
                            button.btn.btn-default.btn-default.StartTimer(type='button', data-time='300') 5 Minutes
                div.tab-pane(role="tabpanel")#TeaTimers
                    .row.col-md-12#BrewingTime
                        .btn-group(role='group')
                            button.btn.btn-default.btn-default.StartTimer(type='button', data-time='60') Green Tea (1M)
                            button.btn.btn-default.btn-default.StartTimer(type='button', data-time='90') Green Tea (1.5M)
                            button.btn.btn-default.btn-default.StartTimer(type='button', data-time='120') Black Tea (2M)
                            button.btn.btn-default.btn-default.StartTimer(type='button', data-time='180') Black Tea (3M)
                            button.btn.btn-default.btn-default.StartTimer(type='button', data-time='240') White Tea (4M)
                            button.btn.btn-default.btn-default.StartTimer(type='button', data-time='300') White Tea (5M)

